/*
 * This file is part of Adblock Plus <https://adblockplus.org/>,
 * Copyright (C) 2006-present eyeo GmbH
 *
 * Adblock Plus is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 3 as
 * published by the Free Software Foundation.
 *
 * Adblock Plus is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
 */

@import "./z-index.css";

io-list-box
{
  display: block;
  position: relative;
  box-sizing: border-box;
}

body:not(.premium) io-list-box [role="option"].premium
{
  display: none;
}

io-list-box,
io-list-box button,
io-list-box [role="listbox"],
io-list-box [role="option"],
io-list-box .group
{
  margin: 0;
  padding: 0;
  color: #4a4a4a;
  background: #fff;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
}

io-list-box button,
io-list-box [role="listbox"]
{
  box-sizing: inherit;
  width: var(--width, 100%);
  border: 1px solid #bcbcbc;
  cursor: pointer;
}

io-list-box .group,
io-list-box [role="option"]
{
  padding: 0.6rem 32px;
}

io-list-box button
{
  padding: 0.6rem 0.8rem;
  border: 1px solid #bcbcbc;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

io-list-box button[aria-expanded="false"]
{
  color: #0797E1;
  background: #e9f6fc;
  text-transform: uppercase;
}

io-list-box[detached] button[aria-expanded="false"]
{
  border-radius: var(--border-radius);
}

io-list-box button:focus
{
  outline: none;
}

io-list-box [role="listbox"]
{
  overflow: auto;
  position: absolute;
  z-index: var(--z-popout-active);
  bottom: 2.2em;
  max-height: 290px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  box-shadow: 0 -4px 20px 0 rgba(0,0,0,0.11);
}

io-list-box [role="option"].hover
{
  background: #e1f2fa;
}

io-list-box .group,
io-list-box [role="option"][aria-disabled="true"],
io-list-box [role="option"][aria-disabled="true"].hover
{
  background-color: #eee;
  cursor: default;
}

io-list-box [role="option"][aria-selected="true"]
{
  background-image: url(/skin/icons/checkmark.svg?default#default);
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 20px 20px;
}

io-list-box [role="combobox"]
{
  z-index: 1;
}

html[dir="rtl"] io-list-box [role="option"][aria-selected="true"]
{
  background-position: calc(100% - 8px) center;
}

io-list-box .group
{
  font-weight: 600;
  text-transform: uppercase;
}
