/*
 * This file is part of Adblock Plus <https://adblockplus.org/>,
 * Copyright (C) 2006-present eyeo GmbH
 *
 * Adblock Plus is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 3 as
 * published by the Free Software Foundation.
 *
 * Adblock Plus is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
 */

@import "../font.css";
@import "../landing.css";

/*******************************************************************************
 * Header
 ******************************************************************************/

header
{
  text-align: center;
}

header
{
  position: relative;
  margin-bottom: var(--margin);
}

header a.logo
{
  margin-bottom: 100px;
}

header a.logo img
{
  width: 250px;
}

header a.button
{
  border-color: transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

h1
{
  margin-bottom: 0.5em;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: initial;
}

h1 em
{
  font-style: normal;
}

h1 em[data-i18n-index="0"]
{
  color: var(--color-highlight);
}

h1 em[data-i18n-index="1"]
{
  color: var(--color-primary);
}

/*******************************************************************************
 * Community Section
 ******************************************************************************/

#community > .content::before
{
  --offset-start: 60px;
  position: absolute;
  top: -100px;
  left: calc(var(--offset-start) * -1);
  width: calc(100% + var(--offset-start));
  height: 100px;
  background-image: url(/skin/icons/day1/bug.svg),
    url(/skin/icons/day1/wave.svg),
    url(/skin/icons/day1/tower.svg);
  background-repeat: no-repeat;
  background-size: 40px auto,
    160px auto
    40px auto;
  background-position: 80px 0,
    0 bottom,
    100% bottom;
  content: "";
}

/*******************************************************************************
 * Block Element Section
 ******************************************************************************/

#popup-dummy
{
  width: 340px;
  border: 1px solid #D2D2D2;
  border-radius: 4px;
  margin-top: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
