/*
 * This file is part of Adblock Plus <https://adblockplus.org/>,
 * Copyright (C) 2006-present eyeo GmbH
 *
 * Adblock Plus is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 3 as
 * published by the Free Software Foundation.
 *
 * Adblock Plus is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
 */

@import "../font.css";
@import "../z-index.css";
@import "../common.css";
@import "../light.css";
@import "../io-filter-table.css";
@import "../io-list-box.css";
@import "../io-popout.css";
@import "../io-popout-fixes.css";
@import "../io-toggle.css";

html
{
  font-size: 16px;
}

body
{
  display: grid;
  /* We force vertical scrollbars to keep the content centered */
  overflow-y: scroll;
  margin: 1rem 0.3rem;
  color: #4A4A4A;
  background-color: #F3F3F3;
  font-size: 1rem;
  line-height: 1.3rem;
  justify-content: center;
  grid-template-areas: "sidebar premium-banner"
    "sidebar main";
  grid-template-columns: auto 46.3rem auto;
}

h1
{
  font-size: 3rem;
  font-weight: 300;
  line-height: 3rem;
}

h2
{
  font-size: 1.125rem;
  font-weight: 700;
}

a
{
  color: #0797E1;
}

a:hover
{
  color: #5CBCE1;
}

ul
{
  margin: 0rem;
}

main h3
{
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

.description
{
  font-size: 0.9rem;
}

[aria-hidden="true"],
[hidden]
{
  display: none !important;
}

input[type="text"],
input[type="url"],
textarea,
main
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
  Normalization
 */

button
{
  font-family: inherit;
}

button
{
  border-radius: 0rem;
}

/*
  Buttons and links
 */

button,
.button
{
  display: block;
  padding: 0.6rem 0.8rem;
  border-radius: var(--border-radius);
  background-color: transparent;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

button:disabled,
button[aria-disabled="true"]
{
  cursor: default;
}

button.primary:not(.icon),
.button.primary:not(.icon),
button.secondary:not(.icon),
.button.secondary:not(.icon)
{
  padding: 0.6rem 2rem;
}

/* Ignore .icon to avoid overriding "specific" (primary, secondary) styles */
button.primary:not(.icon),
.button.primary:not(.icon)
{
  border: 0px;
  color: #FFF;
  background-color: #0797E1;
}

button.primary:not([disabled]):not(.icon):hover,
.button.primary:not(.icon):hover
{
  box-shadow: inset 0 0 0 3px #005D80;
}

button.primary[disabled]:not(.icon)
{
  background-color: #5CBCE1;
}

button.secondary:not(.icon),
.button.secondary:not(.icon)
{
  border: 2px solid #0797E1;
  color: #0797E1;
}

button.secondary:not(.icon):hover,
.button.secondary:not(.icon):hover
{
  box-shadow: inset 0 0 0 1px #0797E1;
}

button.link,
button.list
{
  color: #0797E1;
}

button.link
{
  padding: 0.2rem;
  border: 0px;
  background-color: transparent;
  font-family: inherit;
  font-weight: 400;
  text-decoration: underline;
  text-transform: none;
}

button.link:hover
{
  color: #5CBCE1;
}

button.list
{
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #CDCDCD;
  background-color: #E1F2FA;
  text-align: initial;
}

button.list:hover
{
  border-color: #0797E1;
  box-shadow: inset 0 0 0 3px #0797E1;
}

button.add.secondary
{
  width: 100%;
  border: 1px solid #bcbcbc;
}

button.add.secondary:hover
{
  border-color: #0797E1;
}

button.add::before
{
  content: "+ ";
}

#filters-box li[aria-selected="true"]
{
  background-color: #e1f2fa;
}

#filterlist-by-url-wrap
{
  position: relative;
}

#filterlist-by-url
{
  position: absolute;
  /* ensures it overlaps same popout z-indexes */
  z-index: var(--z-popout-active);
  top: -260px;
  width: 100%;
  height: 260px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background: #fff;
  box-shadow: 0 -4px 20px 0 rgba(0,0,0,0.11);
}

button[data-action="open-filterlist-by-url"]
{
  /* needed to avoid being shadowed by #filterlist-by-url */
  position: relative;
  z-index: 1;
  background-color: #FFF;
}

.side-controls:not(.wrap)
{
  display: flex;
  margin: 0.8rem 0rem;
  justify-content: flex-end;
}

.side-controls > *
{
  margin: 0rem;
}

#filterlist-by-url .main-input,
#filterlist-by-url h3
{
  margin: 0.8rem;
}

#filterlist-by-url h3
{
  text-transform: uppercase;
}

#filterlist-by-url .side-controls
{
  justify-content: flex-start;
}

/*
  Due to Edge adoption as new target browser
  we cannot use -moz/webkit-margin-start
  or -moz/webkit-margin-end because
  these lack Edge support.
  Yet we need to preserve html direction
  and potential UI that might swap right to left.
*/
html:not([dir="rtl"]) .side-controls > *
{
  margin-left: 0.8rem;
}

html[dir="rtl"] .side-controls > *
{
  margin-right: 0.8rem;
}

.side-controls.wrap > *
{
  margin: 0.6rem 0;
}

html:not([dir="rtl"]) .side-controls.wrap > *
{
  margin-left: auto;
}

html[dir="rtl"] .side-controls.wrap > *
{
  margin-right: auto;
}

/*
  icons
 */

.icon
{
  padding: 0px;
  border: 0px;
  background-color: transparent;
}

.icon:hover
{
  box-shadow: none;
}

.icon::before
{
  display: block;
  border: 0.2rem solid transparent;
  background-repeat: no-repeat;
  content: "";
}

input[type="checkbox"].icon
{
  margin-top: -1px;
  margin-left: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="checkbox"].icon:not(:disabled),
input[type="checkbox"].icon:not(:disabled) + label[for]
{
  cursor: pointer;
}

input[type="checkbox"].icon::before
{
  border-width: 0.05rem;
}

/*
 all button[role="checkbox"] styles can be removed once the html and js are
 updated to use input[type="checkbox"]. I started improving the code I touched
 but generally speaking, accessibility properties should not be used for
 styling.

 For now I have just made sure both types work
*/

button[role="checkbox"].icon::before,
input[type="checkbox"].icon::before
{
  width: 1.2rem;
  height: 1.2rem;
  padding: 0px;
}

button[role="checkbox"][disabled].icon:not(.toggle)::before,
button[role="checkbox"][aria-disabled="true"].icon:not(.toggle)::before
{
  margin: 0.2rem;
  border: 0rem;
  border-radius: 2px;
  background-color: #ccc;
}

button[role="checkbox"].icon:not(.toggle)::before,
input[type="checkbox"].icon:not(.toggle)::before
{
  /* Using ?query as a workaround to chromium bug #643716 */
  background-image: url(/skin/icons/checkbox.svg?off#off);
}

input[type="checkbox"].icon:disabled::before
{
  background-image: url(/skin/icons/checkbox.svg?off-disabled#off-disabled);
}

button[role="checkbox"][aria-checked="true"].icon:not(.toggle)::before,
input[type="checkbox"].icon:checked:not(.toggle)::before
{
  background-image: url(/skin/icons/checkbox.svg?on#on);
}

button[role="checkbox"][aria-checked="true"].icon:disabled:not(.toggle)::before,
input[type="checkbox"].icon:checked:disabled:not(.toggle)::before
{
  background-image: url(/skin/icons/checkbox.svg?on-disabled#on-disabled);
}

button[role="checkbox"].icon.toggle::before,
input[type="checkbox"].icon.toggle::before
{
  width: 1.9rem;
  height: 1rem;
  background-image: url(/skin/icons/toggle.svg?on#on);
}

button[role="checkbox"][aria-checked="false"].icon.toggle::before,
input[type="checkbox"].icon.toggle:not(:checked)::before
{
  background-image: url(/skin/icons/toggle.svg?off#off);
}

button[role="checkbox"][disabled].icon.toggle::before,
input[type="checkbox"].icon.toggle:disabled::before
{
  background: none;
}

.icon.delete::before
{
  background-image: url(/skin/icons/trash.svg?default#default);
}

.icon.delete:hover::before
{
  background-image: url(/skin/icons/trash.svg?hover#hover);
}

.icon.delete::before
{
  width: 1rem;
  height: 1rem;
}

[data-validation] .main-input input:focus:invalid ~ .icon.attention::before
{
  background-image: url(/skin/icons/attention.svg);
}

[data-validation] .main-input input:valid ~ .icon.attention::before
{
  background-image: url(/skin/icons/checkmark.svg?approved#approved);
}

.icon.update-subscription::before
{
  background-image: url(/skin/icons/reload.svg);
}

.icon.website::before
{
  background-image: url(/skin/icons/globe.svg);
}

.icon.source::before
{
  background-image: url(/skin/icons/code.svg);
}

.icon.delete::before
{
  background-image: url(/skin/icons/trash.svg?default#default);
}

.close
{
  margin: 0;
  cursor: pointer;
}

.close.icon::before
{
  width: 1rem;
  height: 1rem;
}

.icon.close.primary::before
{
  background-image: url(/skin/icons/close.svg?primary#primary);
}

.icon.close.primary:hover::before
{
  background-image: url(/skin/icons/close.svg?primary-hover#primary-hover);
}

.icon.close.secondary::before
{
  background-image: url(/skin/icons/close.svg?secondary#secondary);
}

.icon.close.tertiary::before
{
  background-image: url(/skin/icons/close.svg?tertiary#tertiary);
}

.icon.close.secondary:hover::before
{
  background-image: url(/skin/icons/close.svg?secondary-hover#secondary-hover);
}

.icon.close.tertiary:hover::before
{
  background-image: url(/skin/icons/close.svg?tertiary-hover#tertiary-hover);
}

#dialog .table.list li button.icon::before
{
  width: 1.3rem;
  height: 1.3rem;
  margin: 0rem;
  border: 0rem;
  background-image: none;
}

#dialog .table.list li button[aria-checked="true"].icon::before
{
  background-image: url(/skin/icons/checkmark.svg?default#default);
}

#social ul li .icon::before
{
  width: 2.5rem;
  height: 2.5rem;
  margin: 0em auto;
}

.icon.twitter::before
{
  background-image: url(/skin/icons/twitter.svg);
}

.icon.facebook::before
{
  background-image: url(/skin/icons/facebook.svg);
}

/*
  Forms
 */

.main-input
{
  position: relative;
  margin: 1.8rem 0rem 0.5rem;
  padding-top: 0.7rem;
}

.main-input input
{
  width: 100%;
  padding: var(--padding-primary);
  border: 1px solid #CDCDCD;
  outline: none;
  font-size: 1rem;
}

[data-validation] .main-input input ~ .error-msg
{
  display: none;
  position: absolute;
  top: calc(var(--padding-primary) * -2);
  right: 0;
  z-index: 10;
  color: var(--color-error);
}

[data-validation] .side-controls
{
  margin-top: 1.2rem;
}

html[dir="rtl"] [data-validation] .main-input input ~ .error-msg
{
  right: auto;
  left: 0;
}

[data-validation] .main-input input:focus:invalid ~ .error-msg
{
  display: block;
}

[data-validation] .main-input input:focus:invalid
{
  border-color: var(--color-error);
}

[data-validation] .main-input input:focus:invalid ~ .attention::before,
[data-validation] .main-input input ~ .attention::before
{
  position: absolute;
  top: 0.8rem;
  right: 0rem;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.8rem;
}

/* stylelint-disable indentation */
html[dir="rtl"] [data-validation] .main-input input:focus:invalid
  ~ .attention::before,
html[dir="rtl"] [data-validation] .main-input input
  ~ .attention::before
{
  right: auto;
  left: 0rem;
}
/* stylelint-enable indentation */

/*
  Animations
*/

.highlight-animate
{
  animation: highlight 1s 3;
}

@keyframes highlight
{
  0% { background-color: transparent }

  30% { background-color: #ffd7a3 }

  70% { background-color: #ffd7a3 }

  100% { background-color: transparent }
}

/*
  Sidebar
 */

#sidebar,
#sidebar .fixed,
[role="tablist"]
{
  width: 14.3rem;
}

#sidebar
{
  grid-area: sidebar;
  flex-shrink: 0;
}

#sidebar .fixed
{
  top: 1.2rem;
  bottom: 0rem;
  height: auto;
}

html[dir="ltr"] #sidebar header
{
  margin-right: 2rem;
}

html[dir="rtl"] #sidebar header
{
  margin-left: 2rem;
}

#sidebar header h1,
#sidebar header p
{
  margin: 0rem;
  user-select: none;
}

#sidebar header h1
{
  font-size: 0;
  line-height: 48px;
  color: transparent;
  background-image: url(/skin/icons/logo/abp-full.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

#sidebar header p
{
  margin-top: 30px;
  line-height: 2.6rem;
  opacity: 0.6;
  font-weight: 600;
  text-transform: uppercase;
}

html[dir="rtl"] #sidebar header
{
  text-align: left;
}

html[dir="rtl"] #sidebar header p
{
  text-align: right;
}

html[dir="rtl"] #sidebar header h1
{
  background-position: center left;
}

#sidebar nav,
#sidebar footer
{
  margin: 1.4rem 0rem;
}

[role="tablist"]
{
  position: relative;
  margin: 0rem;
  padding: 0rem;
  font-size: 1rem;
  list-style: none;
}

li a[role="tab"]
{
  display: flex;
  margin-right: -1px;
  margin-left: -1px;
  padding: 1rem 0.8rem;
  border: 1px solid transparent;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

li a[role="tab"]:hover
{
  background-color: #EAEAEA;
}

li a[role="tab"][aria-selected]
{
  border-color: #CDCDCD;
  background-color: #FFF;
  font-weight: 700;
}

html[dir="rtl"] li a[role="tab"]
{
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

html:not([dir="rtl"]) li a[role="tab"]:hover
{
  border-right-color: #CDCDCD;
}

html[dir="rtl"] li a[role="tab"]:hover
{
  border-left-color: #CDCDCD;
}

html:not([dir="rtl"]) li a[role="tab"][aria-selected]
{
  border-right-color: transparent;
}

html[dir="rtl"] li a[role="tab"][aria-selected]
{
  border-left-color: transparent;
}

#sidebar footer
{
  width: 100%;
}

#sidebar footer p
{
  display: flex;
  margin: 1rem 0rem;
  justify-content: center;
}

#support-us
{
  position: fixed;
  bottom: 40px;
  margin: 0 40px;
}

#support-us .h2-icon
{
  /* Align icon with edges of text based on text's line height and font size */
  width: 2em;
  height: 2em;
  margin-top: 0.3em;
}

html:not([dir="rtl"]) #support-us .h2-icon
{
  float: left;
  margin-right: 0.5em;
}

html[dir="rtl"] #support-us .h2-icon
{
  float: right;
  margin-left: 0.5em;
}

#support-us h2
{
  margin: 0;
  font-size: 1rem;
}

#support-us p
{
  text-align: center;
}

#support-us a.button
{
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 2px;
  border: 1px solid var(--border-color-ternary);
  font-size: var(--font-size-primary);
  color: #0797e1;
  text-transform: uppercase;
  text-align: center;
  transition: background-color 0.2s ease-out;
}

#support-us a.button:last-of-type
{
  margin-bottom: 0;
}

#support-us a.button:hover,
#support-us a.button:focus
{
  background-color: #e9f6fc;
}

/* This is a stopgap solution of footer overlapping tabs on low resolutions */
@media (min-height: 37rem)
{
  #sidebar .fixed
  {
    position: fixed;
  }

  #sidebar footer
  {
    position: absolute;
    bottom: 0px;
  }
}

/*
  Premium
 */

.premium.icon::before
{
  border: none;
  content: none;
}

body.premium .premium.icon::before
{
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  background-image: url(/skin/icons/premium-crown.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 3px;
  content: "";
}

body.premium .premium.upgrade.button
{
  display: none;
}

.premium.upgrade.button
{
  display: inline-block;
  padding: 8px 20px;
  background-color: var(--color-premium);
  color: var(--background-color-primary);
  text-transform: none;
  white-space: nowrap;
}

.premium.upgrade.button:hover,
.premium.upgrade.button:focus
{
  background-color: var(--color-premium-hover);
}

.premium.list button.icon[role="checkbox"]:disabled::before
{
  margin-top: 0;
  background-color: transparent;
  background-image: url(/skin/icons/premium-lock.svg);
  background-position: center;
}

.premium-banner-container
{
  grid-area: premium-banner;
}

.premium-banner-container .banner
{
  display: flex;
  padding: 1.4rem;
  margin-bottom: 1.4rem;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

.premium-banner-container .banner.background
{
  padding-left: 0;
  padding-right: 0;
}

.premium-banner-container .banner.foreground
{
  background-color: var(--background-color-primary);
}

.premium-banner-container .premium-label
{
  display: flex;
  font-weight: 700;
}

.premium-banner-container a
{
  white-space: nowrap;
}

.premium-banner-container .button
{
  padding: 0;
  text-transform: none;
}

body.premium .premium-upgrade.banner
{
  display: none;
}

.premium-upgrade.banner .premium-label
{
  align-items: baseline;
  font-size: 20px;
}

.premium-upgrade.banner .premium-label::before
{
  margin: 0 7px;
  width: 25px;
  height: 17px;
  background-image: url(/skin/icons/premium-crown.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: "";
}

.premium-upgrade.banner p
{
  margin: 0 1rem;
}

body:not(.premium) .premium-manage.banner
{
  display: none;
}

.premium-manage.banner
{
  justify-content: flex-end;
}

.premium-manage.banner > *
{
  margin-right: 10px;
}

html:not([dir="rtl"]) .premium-manage.banner > *:last-child,
html[dir="rtl"] .premium-manage.banner > *:first-child
{
  margin-right: 0;
}

.premium-manage.banner .premium-label
{
  --button-primary-color: var(--color-premium);
  align-items: baseline;
  padding: 5px 11px;
  border: 1px solid;
  border-radius: var(--border-radius);
  color: var(--button-primary-color);
  font-size: var(--font-size-primary);
  line-height: 16px;
}

.premium-manage.banner .premium-label:hover,
.premium-manage.banner .premium-label:focus
{
  --button-primary-color: var(--color-premium-hover);
}

.premium-manage.banner .premium-label::before
{
  width: 15px;
  height: 10px;
  margin-right: 3px;
  -webkit-mask-image: url(/skin/icons/premium-crown.svg);
  mask-image: url(/skin/icons/premium-crown.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: var(--button-primary-color);
  content: "";
}

/*
  Main content
 */

body[data-tab|="general"] #content-general,
body[data-tab|="advanced"] #content-advanced,
body[data-tab|="allowlist"] #content-allowlist,
body[data-tab|="help"] #content-help
{
  display: block;
}

main
{
  grid-area: main;
  padding: 0px 0rem 1.4rem;
  border: 1px solid #CDCDCD;
  border-radius: var(--border-radius);
  background-color: #FFF;
}

main > div
{
  display: none;
}

main p
{
  margin: 0.8rem 0rem;
}

/*
  Sections
 */

[role="tabpanel"] > section,
[role="tabpanel"] > .section
{
  margin: 0 2rem;
  padding: 1.4rem 0;
  border-top: 1px solid #CDCDCD;
}

[role="tabpanel"] > header h1,
[role="tabpanel"] > header p
{
  margin: 1.4rem 0rem;
  padding: 0rem 2rem;
}

section h2,
.section h2
{
  margin: 0rem;
}

section h2
{
  text-transform: uppercase;
}

section,
.section
{
  clear: both;
}

section.cols
{
  display: flex;
}

section.cols > *:first-child
{
  flex: 1;
}

html:not([dir="rtl"]) section.cols > *:first-child
{
  margin-right: 2rem;
}

html[dir="rtl"] section.cols > *:first-child
{
  margin-left: 2rem;
}

section.cols > *:last-child
{
  flex: 3;
}

/*
  Acceptable ads
 */

#tracking-warning
{
  position: relative;
  margin-bottom: 1rem;
  padding: 1.5rem;
  border: 2px solid #ffd7a3;
  background-color: #fefbe3;
}

#acceptable-ads:not(.show-warning) #tracking-warning
{
  display: none;
}

#hide-tracking-warning
{
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}

html[dir="rtl"] #hide-tracking-warning
{
  right: auto;
  left: 1rem;
}

#tracking-warning .link
{
  color: inherit;
  font-weight: 700;
  text-decoration: underline;
}

#acceptable-ads ul
{
  position: relative;
  padding-left: 2.2rem;
  list-style: none;
}

html[dir="rtl"] #acceptable-ads ul
{
  padding-right: 2.2rem;
  padding-left: 0rem;
}

#acceptable-ads ul button,
#acceptable-ads ul input
{
  position: absolute;
}

html[dir="ltr"] button,
html[dir="ltr"] input
{
  left: 0rem;
}

html[dir="rtl"] button,
html[dir="rtl"] input
{
  right: 0rem;
}

#acceptable-ads label
{
  font-size: 1rem;
  font-weight: 700;
}

#acceptable-ads #acceptable-ads-why-not
{
  --background-color: #FFF;
  --border-color: #099CD0;
  position: absolute;
  z-index: 1;
  width: 260px;
  margin-top: 15px;
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  text-align: center;
}

html[dir="ltr"] #acceptable-ads #acceptable-ads-why-not
{
  left: -117px;
}

html[dir="rtl"] #acceptable-ads #acceptable-ads-why-not
{
  right: -117px;
}

#acceptable-ads #acceptable-ads-why-not::before
{
  display: block;
  position: absolute;
  top: -6px;
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
  border: 1px solid var(--border-color);
  border-right: none;
  border-bottom: none;
  background-color: var(--background-color);
  content: "";
  transform: rotate(45deg);
}

#acceptable-ads #acceptable-ads-why-not > a,
#acceptable-ads #acceptable-ads-why-not > button
{
  font-size: 0.9rem;
}

#acceptable-ads #acceptable-ads-why-not > button
{
  position: initial;
  margin: auto;
  border: 0;
  color: #0797E1;
}

html:not([dir="rtl"]) #acceptable-ads label
{
  margin-right: 0.5rem;
}

html[dir="rtl"] #acceptable-ads label
{
  margin-left: 0.5rem;
}

#dnt
{
  padding: 0.8rem;
  border: 1px solid #0797E1;
}

/*
  Tables
 */

ul.table,
ul.list
{
  margin: 0rem;
  padding: 0rem;
  list-style: none;
}

.table li,
.list li
{
  display: flex;
  align-items: center;
}

.table li
{
  margin: 0rem;
  border-width: 0px 1px 1px;
  border-style: solid;
  border-color: #CDCDCD;
}

.list li
{
  margin-bottom: 0.8rem;
  padding: 0rem;
}

.list li [role="checkbox"]
{
  flex-shrink: 0;
}

.table li:first-of-type
{
  border-top: 1px solid #CDCDCD;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.table.list li
{
  margin: 0rem;
  padding: 0.5rem 1rem;
}

.table.list.bottom-control li:last-of-type
{
  border-bottom: 0px;
}

.list li > span
{
  margin: 0rem 1rem;
}

.table.list li > span
{
  overflow: hidden;
  margin: 0rem;
  flex: 1;
  text-overflow: ellipsis;
}

#content-allowlist .table.list li > span
{
  white-space: nowrap;
}

.table.list li[aria-label^="https://"] > span,
.table.list li[aria-label^="data:"] > span
{
  white-space: initial;
  word-break: break-all;
}

.table.list li.empty-placeholder,
#all-filter-lists-table .empty-placeholder
{
  padding: 1rem 1.4rem;
}

.table.list li.empty-placeholder:not(:last-of-type)
{
  border-bottom: 0px;
}

.table.list button.link
{
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.table:not(.list):not(.cols) li
{
  padding-top: 0px;
  padding-bottom: 6px;
}

.table li [data-single="visible"],
.table li:first-of-type:last-of-type [data-single="hidden"]
{
  display: none;
}

.table li:first-of-type:last-of-type [data-single="visible"]
{
  display: block;
}

.th
{
  display: flex;
}

.col5 > *
{
  display: inline-block;
  vertical-align: middle;
}

.cols .col5,
.th .col5
{
  margin: 0rem 1rem;
  align-self: center;
}

.th .col5:nth-of-type(1),
.table .col5:nth-of-type(1)
{
  flex: 3;
  text-align: center;
}

.th .col5:nth-of-type(2),
.table .col5:nth-of-type(2)
{
  flex: 8;
}

.table [aria-label^="https://"] .col5:nth-of-type(2),
.table [aria-label^="data:"] .col5:nth-of-type(2)
{
  word-break: break-all;
}

.th .col5:nth-of-type(3),
.table .col5:nth-of-type(3)
{
  flex: 4;
}

.th .col5:nth-of-type(4),
.table .col5:nth-of-type(4)
{
  flex: 1;
}

.th .col5:nth-of-type(5),
.table .col5:nth-of-type(5)
{
  flex: 1;
}

html:not([dir="rtl"]) .th .col5:nth-of-type(5),
html:not([dir="rtl"]) .table .col5:nth-of-type(5)
{
  margin-right: 1.8rem;
  margin-left: 0;
}

html[dir="rtl"] .th .col5:nth-of-type(5),
html[dir="rtl"] .table .col5:nth-of-type(5)
{
  margin-right: 0;
  margin-left: 1.8rem;
}

.table.cols > span
{
  margin: 0rem;
}

.table.cols li
{
  padding: 0.5rem 0rem;
}

.table.cols li.error .col5:nth-of-type(2)
{
  color: var(--color-error);
  font-style: italic;
}

.table.cols .toggle
{
  -moz-margin-end: 0.5rem;
  -webkit-margin-end: 0.5rem;
}

#dialog .table.list li
{
  display: block;
  padding: 0rem;
  border-width: 1px 0px 0px;
}

#dialog .table.list li:first-of-type
{
  border: 0px;
}

#dialog .table.list li button
{
  display: flex;
  width: 100%;
  height: auto;
  padding: 1.1rem 1rem;
  background-image: none;
}

#dialog .table.list li button:hover,
#dialog .table.list li button:focus
{
  background-color: #E1F2FA;
}

#dialog .table.list li button[aria-checked="true"],
.table.list li .dimmed
{
  color: #BBB;
}

#dialog .table.list li button > span
{
  margin: 0rem 0.8rem;
  font-weight: 400;
  text-transform: none;
  flex: none;
}

li.preconfigured [data-hide="preconfigured"]
{
  display: none !important;
}

/*
  Tooltips
*/

.tooltip
{
  position: relative;
  margin: 0rem;
  line-height: 1.5rem;
  text-decoration: none;
  cursor: help;
}

html:not([dir="rtl"]) .tooltip
{
  margin-right: 1rem;
}

html[dir="rtl"] .tooltip
{
  margin-left: 1rem;
}

/*
  General tab content
*/

section.recommended-features
{
  display: flex;
  padding-top: 2rem;
}

section.recommended-features > :not(template)
{
  flex: 1;
  margin-right: 24px;
}

html:not([dir="rtl"]) section.recommended-features > :not(template):last-of-type,
html[dir="rtl"] section.recommended-features > :not(template):first-of-type
{
  margin-right: 0;
}

section.recommended-features h2
{
  margin-bottom: 1.75rem;
  display: flex;
}

section.recommended-features .premium.list-header
{
  display: flex;
  align-items: flex-start;
}

section.recommended-features .premium.list-header > *
{
  margin-right: 1.4rem;
}

html:not([dir="rtl"]) section.recommended-features .premium.list-header > *:last-child,
html[dir="rtl"] section.recommended-features .premium.list-header > *:first-child
{
  margin-right: 0;
}

section.recommended-features .premium.list-header a.button
{
  transform: translateY(-25%);
}

section.recommended-features li
{
  align-items: flex-start;
}

section.recommended-features .description-container
{
  margin: 0 0.5rem;
}

section.recommended-features li button
{
  margin-top: -2px;
}

section.recommended-features h3
{
  display: inline-block;
  margin: 0;
  font-size: 1rem;
}

section.recommended-features li .label.new
{
  display: none;
  margin: 0 4px;
  padding: 0 4px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: var(--font-size-small);
  color: #FFF;
  background-color: var(--background-color-info);
}

section.recommended-features li.new .label.new
{
  display: inline-block;
}

section.recommended-features .description
{
  margin: 0.25rem 0;
}

#blocking-languages li button[data-single]
{
  padding: 0;
}

#languages-box
{
  margin-bottom: 0.8rem;
}

html[lang^="de"] #language-recommend,
html[lang^="fr"] #language-recommend,
/*
  Hide language recommendation feature for Opera users
  due to problems with its language detection
  https://gitlab.com/eyeo/adblockplus/abpui/adblockplusui/-/issues/960
*/
html[data-application="opera"] #language-recommend
{
  display: none;
}

/*
  Allowlist tab
 */

#content-allowlist form
{
  display: flex;
  margin-bottom: 1.4rem;
}

#content-allowlist form input
{
  padding: 0.5rem 1rem;
  border: 2px solid #0797E1;
  border-radius: var(--border-radius);
  font-size: 1rem;
  flex: 1;
}

html:not([dir="rtl"]) #content-allowlist form button
{
  margin-left: 0.7rem;
}

html[dir="rtl"] #content-allowlist form button
{
  margin-right: 0.7rem;
}

#allowlisting-table li
{
  padding-right: 1.4rem;
  padding-left: 1.4rem;
  border-right: 0rem;
  border-left: 0rem;
}

/*
  Advanced tab content
*/

#custom-filters
{
  margin-top: 3rem;
}

#custom-filters h3
{
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
}

#custom-filters .io-filter-table-title
{
  font-weight: 600;
}

html:not([dir="rtl"]) #custom-filters .io-filter-table-title
{
  margin-right: 2rem;
}

html[dir="rtl"] #custom-filters .io-filter-table-title
{
  margin-left: 2rem;
}

#update-all-subscriptions button
{
  display: initial;
}

#update-all-subscriptions
{
  margin: 2rem auto;
  text-align: right;
}

html[dir="rtl"] #update-all-subscriptions
{
  text-align: left;
}

#all-filter-lists-table li.show-message .last-update,
#all-filter-lists-table li:not(.show-message) .message,
#all-filter-lists-table li.error .last-update,
#all-filter-lists-table li:not(.error) io-popout[appearance="error"],
#acceptable-ads:not(.show-dnt-notification) #dnt
{
  display: none;
}

#all-filter-lists-table li.show-message .message.error
{
  color: var(--color-error);
}

#all-filter-lists-table li.show-message .message.error::before
{
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  vertical-align: middle;
  background-image: url(/skin/icons/attention.svg);
  background-size: contain;
  content: "";
}

html[dir="rtl"] #all-filter-lists-table li.show-message .message.error::before
{
  margin-right: 0;
  margin-left: 0.5em;
}

#all-filter-lists-table
{
  margin-bottom: 0.8rem;
}

/*
  Help tab content
*/

#social ul
{
  padding: 0px;
  list-style: none;
}

#social ul li
{
  display: inline-block;
}

html:not([dir="rtl"]) #social ul li
{
  margin-right: 1rem;
}

html[dir="rtl"] #social ul li
{
  margin-left: 1rem;
}

#social ul li a
{
  display: block;
  text-align: center;
  text-decoration: none;
}

/*
  Dialog
*/

#dialog-background
{
  display: none;
  position: fixed;
  z-index: var(--z-dialog);
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  background-color: #000;
}

body[data-dialog] #dialog-background
{
  display: block;
}

#dialog
{
  overflow: hidden;
  position: fixed;
  z-index: var(--z-dialog);
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  width: 700px;
  margin: auto;
  padding: 20px;
  border-radius: var(--border-radius);
  background-color: #FFF;
  box-shadow: 0 -4px 20px 0 rgba(255, 255, 255, 0.11);
}

#dialog-title h3
{
  margin: 0 0 1.2em;
  text-transform: uppercase;
}

#dialog-body
{
  overflow: auto;
  max-height: 60vh;
}

#dialog-body h3
{
  margin: 0 0 0.5em;
  line-height: 0.9em;
  font-size: 0.9em;
}

#dialog-body h3::before
{
  position: absolute;
  width: 18px;
  height: 11px;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

html[dir="ltr"] #dialog-body h3::before
{
  margin-left: -26px;
}

html[dir="rtl"] #dialog-body h3::before
{
  margin-right: -26px;
}

#dialog-body .field.title h3::before
{
  background-image: url(/skin/icons/filter-list-title.svg);
}

#dialog-body .field.url h3::before
{
  background-image: url(/skin/icons/filter-list-url.svg);
}

#dialog-body p
{
  margin: 0;
}

#dialog-body .ctas
{
  display: flex;
  justify-content: end;
  margin-top: 1.2em;
}

html:not([dir="rtl"]) #dialog-body .ctas > *:not(:last-child),
html[dir="rtl"] #dialog-body .ctas > *:not(:first-child)
{
  margin-right: 1.5em;
}

#dialog-body .ctas button
{
  min-width: 150px;
  padding: 0.5em 1em;
  border: 1px solid var(--border-color-cta-secondary);
  border-radius: 6px;
  font-size: var(--font-size-primary);
  font-weight: 700;
  color: var(--color-cta-secondary);
  background-color: var(--background-color-cta-secondary);
  box-shadow: none;
  text-transform: capitalize;
  transition: 100ms background-color;
  cursor: pointer;
}

#dialog-body .ctas button:hover
{
  background-color: var(--background-color-cta-secondary-hover);
}

#dialog-body .ctas button.primary
{
  border-color: var(--border-color-cta-primary);
  color: var(--color-cta-primary);
  background-color: var(--background-color-cta-primary);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

#dialog-body .ctas button.primary:hover
{
  background-color: var(--background-color-cta-primary-hover);
}

#dialog-body .ctas button.premium
{
  border-color: var(--color-premium);
  background-color: var(--color-premium);
  color: #000;
}

#dialog-body .ctas button.premium:hover
{
  border-color: var(--color-premium-hover);
  background-color: var(--color-premium-hover);
}

#dialog-content-language-add
{
  margin: 0rem;
}

#dialog-content-about,
#dialog-content-invalid,
#filters-box button[role="combobox"]
{
  text-align: center;
}

#dialog-content-about p
{
  margin: 0.5rem 0rem;
}

#dialog-content-about .ctas,
#dialog-content-invalid .ctas
{
  justify-content: center;
}

#dialog-content-import .side-controls
{
  margin-top: 2.45rem;
}

#dialog-content-invalid
{
  color: var(--color-error);
}

#dialog-content-invalid .error
{
  width: 50px;
  height: 50px;
  margin: 0 auto 1em;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 600;
  line-height: 50px;
  background-color: var(--background-color-error);
}

#dialog-content-invalid strong
{
  padding: 2px 5px;
  border-radius: var(--border-radius);
  font-style: italic;
  background-color: var(--background-color-error);
}

#dialog .field
{
  margin-bottom: 1.5em;
}

html[dir="ltr"] #dialog .field
{
  margin-left: 28px;
}

html[dir="rtl"] #dialog .field
{
  margin-right: 28px;
}

#dialog .field:last-of-type
{
  margin-bottom: 0;
}

#dialog .table
{
  width: 100%;
}

#dialog .section:not(:first-child)
{
  margin-top: 24px;
}

#dialog .url > a
{
  word-wrap: break-word;
  text-decoration: none;
}

#dialog .url > a:hover
{
  text-decoration: underline;
}

#dialog .url > a::after
{
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  vertical-align: middle;
  background-image: url(/skin/icons/open-link.svg);
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

html[dir="ltr"] #dialog .url > a::after
{
  margin-left: 0.3em;
}

html[dir="rtl"] #dialog .url > a::after
{
  margin-right: 0.3em;
  transform: scaleX(-1);
}

/* stylelint-disable indentation */
body:not([data-dialog="about"]) #dialog-title-about,
body:not([data-dialog="about"]) #dialog-content-about,
body:not([data-dialog="import"]) #dialog-title-import,
body:not([data-dialog="import"]) #dialog-content-import,
body:not([data-dialog="language-add"]) #dialog-title-language-add,
body:not([data-dialog="language-change"]) #dialog-title-language-change,
body:not([data-dialog="language-add"]):not([data-dialog="language-change"])
  #dialog-content-language-add,
body:not([data-dialog="language-add"]) #dialog-body button.add,
body:not([data-dialog="language-change"]) #dialog-body button.change,
body:not([data-dialog="predefined"]) #dialog-title-predefined,
body:not([data-dialog="predefined"]) #dialog-content-predefined,
body:not([data-dialog="invalid"]) #dialog-title-invalid,
body:not([data-dialog="invalid"]) #dialog-content-invalid,
body:not([data-dialog="optIn-premium-subscription"]) #dialog-title-optIn-premium-subscription,
body:not([data-dialog="optIn-premium-subscription"]) #dialog-content-optIn-premium-subscription,
body:not([data-dialog]) #dialog
{
  display: none;
}
/* stylelint-enable indentation */

/*
  Notification
*/

#notification
{
  display: flex;
  position: fixed;
  top: 0rem;
  left: 0rem;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 1.9rem;
  font-size: 1rem;
}

#notification strong
{
  text-align: center;
  flex: 1;
}

#notification.info
{
  color: #0797E1;
  background-color: rgba(225, 242, 250, 0.8);
}

#notification.error
{
  color: var(--color-error);
  background-color: rgba(235, 199, 203, 0.8);
}

#notification.error .close
{
  display: none;
}

#notification[aria-hidden="false"]
{
  animation: show-notification 3s;
  will-change: transform;
}

@keyframes show-notification
{
  0%
  {
    transform: translateY(-4.8rem);
  }

  25%
  {
    transform: translateY(0);
  }

  75%
  {
    transform: translateY(0);
  }

  100%
  {
    transform: translateY(-4.8rem);
  }
}
