/*
 * This file is part of Adblock Plus <https://adblockplus.org/>,
 * Copyright (C) 2006-present eyeo GmbH
 *
 * Adblock Plus is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 3 as
 * published by the Free Software Foundation.
 *
 * Adblock Plus is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
 */

@import "../font.css";
@import "./popup.css";
@import "../light.css";

/*
 * Absolute positioning of child elements behaves as if parent is
 * relatively positioned due to the following CSS properties. Therefore we
 * need to reset their values.
 */
#page-info > div
{
  transform: initial;
  will-change: initial;
}

.overlay
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.13)
  );
}

#block-element,
#block-element:hover,
#block-element:focus
{
  position: relative;
  z-index: 1;
  border: 3px solid var(--color-brand-primary);
  cursor: default;
}
